.principal__titulo {
    color: var(--cor-texto-azul);
    font-weight: 700;
    font-size: 1.3rem;
    margin: 3rem 0;
    text-align: center;
    height: 100%;
}

.mensagem-recebida {
    background-color: transparent;
    border: none;
    resize: none;
    color: var(--cor-texto-azul);
    font-size: 2rem;
    width: 100%;
    height: 45vh;
}

.mensagem-recebida::placeholder {
    color: var(--cor-texto-azul);
    font-family: 'Inter';
    font-size: 2rem;
}

.principal__instrucoes {
    color: var(--cor-texto-instrucao);
    font-size: 0.75rem;
    
}

.principal__instrucoes::before {
    content:url(../img/atenction.svg);
    display: inline-block;
    margin-right: 0.5rem;
}

.card-resultado, .card-erro {
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
}

.resultado__mensagem {
    border: none;
    resize: none;
    margin-bottom: 1rem;
    width: 100%;
}

.erro__titulo {
    color: var(--cor-titulo-erro);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.erro__instrucao {
    color: var(--cor-instrucao-erro);
    font-size: 1rem;
    line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
    .card-resultado {
        flex-direction: column;
    }

    .card-erro {
        flex-direction: column;
    }
    
}


@media screen and (min-width: 1024px) {

    .principal {
        height: 80vh;
    }
    
    .principal__titulo {
        grid-column: 1 / 3;
        grid-row: 1 / 1;
        margin: 0;
    }

    .card-resultado {
        grid-column: 2 / 2;
        grid-row: 2 / 5;
        margin-top: 0;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .card-erro {
        grid-column: 2 / 2;
        grid-row: 2 / 5;
        margin-top: 0;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .card-erro {
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
        text-align: center;
        justify-content: center;
        
        
    }

    .erro__imagem {
        background-image: url(../img/no-msg.svg);
        background-size: contain;
        background-position: center;
        padding: 6rem;
        background-repeat: no-repeat;

    }
    
    .mensagem-recebida {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        height: 100%;
        width: 100%;
    }

    .principal__instrucoes {
        grid-column: 1 / 2;
        grid-row: 3 / 3;
        margin: 0;
    }

   
}



