.rodape {
    height: 10vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape__credito {
    justify-self: center;
    text-align: center;
    line-height: 1.75rem;
}