.rodape {
    align-items: center;
    display: flex;
    height: 10vh ;
    justify-content: center;
}

.rodape__credito {
    justify-self: center;
    text-align: center;
    line-height: 1.75rem;
}