:root {

    --cor-background-principal:#F3F5FC;
    --cor-background-botao:#0A3871;
    --cor-background-botao-hover: #072850;
    --cor-background-botao-branco: #FFFFFF;
    --cor-texto-azul:#0A3871;
    --cor-texto-branco: #FFFFFF;
    --cor-texto-instrucao: #67808E;
    --cor-titulo-erro: #343A40;
    --cor-instrucao-erro: #495057;

    --font: 'Inter';

}

body {
    font-family: 'Inter';
    background-color: var(--cor-background-principal);
}


.container {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}

.caixa {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: var(--cor-background-botao);
    border: none;
    border-radius: 24px;
    color: var(--cor-texto-branco);
    padding: 1rem 3rem;
    margin: 0.75rem 0;
    text-align: center;
    width: 100%;
}

.button:hover {
    cursor: pointer;
    background-color: var(--cor-background-botao-hover) ;
}

.btn-nobkgnd {
    background-color: transparent;
    color: var(--cor-texto-azul);
    border: var(--cor-background-botao) 1px solid;
}

.btn-nobkgnd:hover {
    color: var(--cor-texto-branco);
}

@media screen and (min-width: 768px) {

    .container {
        margin: 0 3rem;
    }

    .caixa {
        flex-direction: row;
        justify-content: space-between;
    }

    .button {
        width: 40%;
    }

    .resultado__btn-copiar {
        width: 100%;
    }
    
}

@media screen and (min-width: 1024px) {

    .container {
        display: grid;
        grid-template-columns: 69% 29%;
        grid-template-rows: 5% auto 5% 10%;
        gap: 2%;
        height: 100%;
        padding-left: 5rem;
    }

    .caixa {
        grid-column: 1 / 2 ;
        grid-row: 4 / 4;
        justify-content: space-between;
    }

    .button {
        margin: 0;
    }

   
}